@model QuizProject.Models.User 
@{
    ViewBag.Title = "forgot";
}
@{
    Layout = null;    
}
<html>
<head>
	<meta charset="UTF-8">
	<title>Online Quiz System</title>
	<link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
                    <img src="~/images/logo.png" alt="LOGO" height="100" width="270">
				</div>
				
			</div>
			<div id="contents">
				
					<div>
						<div class="body">
							
                    <h1>Forgot Password</h1>
                            <br>
							 @using (Html.BeginForm("forgot", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
                               {<br>
                                   <p><b>Forgot Password</b><br>Login with some secret information</p>
                                 <fieldset>
                                     <legend></legend>
								    <br><br>
                                            <div class="editor-label">
                                             @Html.LabelFor(model => model.UserName)
                                            </div> 
                                            <div class="editor-field">
                                             @Html.TextBoxFor(model => model.UserName, new { type = "text", @placeholder = "username", @class = "form-control" , @required = "required"})
                                            @Html.ValidationMessageFor(model => model.UserName) 
                                            </div>

                                            <h5>Select Secret Question</h5>
                                            <select id="SecretQuestion" name="SecretQuestion">
                                                <option value="0">Hobby</option>
                                                <option value="1">Favourite Book</option>
                                                <option value="2">Favourite Color</option>
                                                <option value="3">Pet Name</option>
                                            </select>
                                     
                                            <div class="editor-label">
                                             @Html.LabelFor(model => model.Answer)
                                            </div> 
                                            <div class="editor-field">
                                             @Html.TextBoxFor(model => model.Answer, new { type = "text", @placeholder = "username", @class = "form-control" , @required = "required"})
                                            @Html.ValidationMessageFor(model => model.Answer) 
                                            </div>   
                                     
                                            <br>
                                             <input id="subm" type="submit" value="Submit to Login" style="background-color:seagreen"/>
                                             <br><br>
 
                                     </fieldset> 
                   }
							
							
							<p>
								Go back to <a href="~/Home/index"><b>Login</b></a> page. </p>
                            <p>
								Create a account<a href="~/Home/signup"><b>Sign Up</b></a></p>
							
							
						</div>
					</div>
				
			</div>
		</div>
		
	</div>
</body>
</html>